.container {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 800px;
}

.card {
  width: 300px;
  height: 300px;
  font-size: 35px;
}

.prva {
  background-color: blue;
  order: 1;
}

.druga {
  background-color: green;
}

.treca {
  background-color: burlywood;
  order: 2;
}

.mojaIkonica {
  color: white;
  font-size: 100px;
  background-color: red;
}
