html{
    scroll-behavior: smooth;
}

.nav{
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    padding: 50px;
    font-size: 30px;
}

section{
    width: 100%;
    height: 100vh;
    padding: 20px;
    font-size: 60px;
    color: white;
}
